* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bigBody {
    height:100vh;
    width:100vw;
    padding:0;
    margin: 0;
    background-color:whitesmoke;
    color:blue;
}

.entireBox {
    display: flex;
    flex-direction: column;
   
}

.mainHeader {
    background-image: linear-gradient(to right,blue , purple);
    text-align: center;
    color:white;
    margin:0;
    padding-top:5%;
    font-size: 2em;
    border-color: black;
    
}

#searchLabel {
    text-align: center;
}
#inputText {
    text-align: center;
}

.searchColumn {
    
    padding-left:2vw;
    padding-top:4%;
    width: 95vw;
    align-items: center;

}

/* #searchName {
    position: relative;
    top: 6px;
} */

.generatedBtn {
    border-radius: 20%;
    padding:1%;
}


.style1 {
    width:100%;
    padding:8px;
    margin:2px;
    border-radius:5px;
}



.contentBox {
   width:100%;
   padding:8px;
}

#oneDay {
    padding-left: 15vw;
    padding-top: 3vh;
}


.fiveDay {
    display:flex;
    justify-content: space-between;
    padding: 5px;
    width: 75vw;
    padding-left: 15vw;
    margin: 0;
  
    
}

#fiveDayTitle {
    padding-left: 15vw;
}

.genDiv {
    padding-left: 3vw;
}

.card {
    text-align: center;
}

