.mainHeader {
    background-image: linear-gradient(to right,blue , purple);
    text-align: center;
    color:white;
    margin:0;
    padding-top:5%;
    font-size: 2em;
    border-color: black;
    
}

.bigBody {
   height:100%;
   width:100%;
   padding:0;
   background-color:whitesmoke;
   color:blue;
   
}

.searchColumn {
    
    padding-left:3%;
    padding-top:4%;

}
.style1 {
    width:100%;
    padding:8px;
    margin:2px;
    border-radius:5px;
}


/* .focusedCard {
    text-align:center;
    background-color:cornflowerblue;
    height:200px;
    position:relative;
} */

.entireBox {
    display:flex;
    flex-direction:row;
   
}
.contentBox {
   width:100%;
   padding:8px;
   
  
}

.oneDay {
    display:flex;
    flex-direction: column;
    justify-content:center;
    height:30vh;
    padding-left: 10%;
    font-size: 1.5em;

}

.fiveDay {
    display:flex;
    flex-wrap:wrap;
    position:relative;
    top: 5vh;
    margin:1%;
    height:30vh;
    padding-left:3vw;
    width:75%;
    justify-content: space-around;
    align-content:space-between;

}

.card {
    text-align: center;
}