* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bigBody {
    height:100vh;
    width:100vw;
    padding:0;
    margin: 0;
    background-color:whitesmoke;
    color:blue;
}

.entireBox {
    display: flex;
    flex-direction: column;
   
}

.mainHeader {
    background-image: linear-gradient(to right,blue , purple);
    text-align: center;
    color:white;
    padding: 3% 0 3% 0;
    font-size: 1.5em;
    font-style: italic;
}

.mainHeader > * {
    width: 75%;
    margin: auto;
}

#searchLabel {
    text-align: center;
}
#inputText {
    text-align: center;
}

.searchColumn {
    
    margin: auto;
    padding-top:4%;
    width: 80vw;
    align-items: center;

}

/* #searchName {
    position: relative;
    top: 6px;
} */

.generatedBtn {
    border-radius: 10px;
    padding: 5px;
    margin-right: .5vw;
}


.style1 {
    width: 100%;
    padding: 8px;
    margin: 2px;
    border-radius: 5px;
}



.contentBox {
   width:100%;
   padding:8px;
}

#oneDay {
    width: 60vw;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 1vh;
   border: blue solid 2px;
}

#oneDay h1 {
    font-size: 2rem;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-bottom: 0px;
}

.hide {
    display: none;
}

.show {
    display: block;
}



.fiveDay {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    margin: auto;   
}

#fiveDayTitle {
    width: 60vw;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 20px;
    
    
}

.genDiv {
   border: 1px solid blue;
   border-radius: 10px;
   padding: 3px 3px 0px 3px;
   width: 15vw;
}



.card {
    text-align: center;
}


@media (max-width: 750px) {
    .genDiv {
        width: 50vw;
        border: solid 2px blue;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: .5vh;
    }

    .fiveDay {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

